<!DOCTYPE html>
<html {% if language is not none %} lang="{{ language }}" {% endif %}>
    <head>
        <meta charset="{{ encoding }}" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        {%- block htmltitle %}
        <title>{{ title}}</title>
        {%- endblock %} {%- block css %}
        <link rel="stylesheet" href="{{ pathto('_static/lia_theme.css', 1)}}" type="text/css" />
        {%- endblock %} {%- block scripts %}
        <script src="{{ pathto('_static/lia_theme_chunk.js', 1)}}"></script>
        {%- endblock %}
    </head>

    <body>
        <div id="app" class="lia__layout">
            {%- block sidebar %} {%- include "./sidebar.html" %} {%- endblock %}
            <div class="lia__layout_page">
                {%- block header %} {%- include "./header.html" %} {%- endblock %}
                <div class="lia__content">{% block body %} {% endblock %}</div>
                {%- block navigation %} {%- include "./navigation.html" %} {%- endblock %}
            </div>
        </div>
        <script src="{{ pathto('_static/lia_theme.js', 1)}}"></script>
        <script src="{{ pathto('_static/header.js', 1)}}"></script>
    </body>
</html>
