.lia__admonition {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 16px 16px;
    border-radius: 4px;
    background-color: white;
    border-left: 12px solid white;
}

.lia__admonition > h4 {
    margin: 0 0 8px;
}

.lia__admonition > p {
    margin: 0;
}

.lia__admonition_danger {
    width: 100%;
    border-left-color: #FF7171;
}

.lia__admonition_danger > h4 {
    color: #FF7171;
}

.lia__admonition_important {
    width: 100%;
    border-left-color: #56C272;
    
}

.lia__admonition_important > h4 {
    color: #56C272;
}

.lia__admonition_warning {
    width: 100%;
    border-left-color: #FAAC3E;
}

.lia__admonition_warning > h4 {
    color: #FAAC3E;
}